.ant-layout {
    background: none;
}

.Drawer {
    position: absolute;
    top: 64px;
    left: calc(-348px + 48px);
    width: 348px;

    background: #FFFFFF;
    box-shadow: 0px 16px 45px rgba(29, 28, 38, 0.1);
    border-radius: 8px;
    padding: 24px;
}